//fonts
$montserrat: 'Montserrat',
sans-serif;
$playfair: 'Playfair Display',
serif;
$roboto: 'Roboto',
sans-serif;

html {
 scroll-behavior: smooth;
}

//właściwości wejśćiowe
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-size: 10px;

}

.grid {
 display: grid;
 grid-template-columns: minmax(120px, 1fr);
 grid-template-rows: auto 1fr auto;
 grid-template-areas:
  "header"
  "center"
  "footer";
 max-width: 1600px;
 font-family: $roboto;
 background-color: #eee;
 margin: 0 auto;
}

.arrow {
 width: 50px;
 height: 50px;
 font-size: 3.5rem;
 position: fixed;
 bottom: 5px;
 right: 10px;
 transition: all 0.5s ease-in-out;
 background-color: #1450F5;
 color: white;
 text-align: center;
 border-radius: 20%;
 display: none;


}

.active {
 display: flex;
 justify-content: center;
}

// .active:hover {
//  color: #aaa;
//  background-color: #4986FA;

// }

.fa {
 display: block;
 // align-content: center;
 // align-self: center;
 align-self: center;
 // justify-self: center;
}